<div class="jumbotron jumbotron-fluid text-center">
  <div class="container p-3 text-muted">
    <!-- Cards -->
    <div class="row">
      <!-- calendar card-->
      <div class="col-md-4 col-lg-4" id="card" data-aos="flip-left">
        <div class="hover hover-img text-white rounded">
          <img src="/assets/img/home/book1.png" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-img-content px-5 py-4">
            <h3 class="hover-img-title text-uppercase font-weight-bold mb-1"><span
              class="font-weight-light">Emplois du temps </span> et calendriers</h3><br>
            <p class="hover-img-description small text-uppercase mb-0"><a href="/espace-étudiant?tab=1">accéder</a></p>
          </div>
        </div>
      </div>

      <!-- etudiant card-->
      <div class="col-md-4  col-lg-4" id="" data-aos="flip-left">
        <div class="hover hover-img text-white rounded">
          <img src="{}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-img-content px-5 py-4">
            <h3 class="hover-img-title text-uppercase font-weight-bold mb-1"><span
              class="font-weight-light">Anciens </span> étudiants</h3><br>
            <p class="hover-img-description small text-uppercase mb-0"><a href="/espace-étudiant?tab=4">accéder</a></p>
          </div>
        </div>
      </div>


      <!-- stage card-->
      <div class="col-md-4 col-lg-4" id="espace-etudiant-card" data-aos="flip-left">
        <div class="hover hover-img text-white rounded">
          <img src="" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-img-content px-5 py-4">
            <h3 class="hover-img-title text-uppercase font-weight-bold mb-1"><span
              class="font-weight-light">Offres </span> de stages</h3><br>
            <p class="hover-img-description small text-uppercase mb-0"><a href="/espace-étudiant?tab=5">accéder</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
