<!-- Footer section -->
<section class="footer-section">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>About</h2>
          <p>Kitabi is a libray when you can search and buy your favoutite books</p>
          <img src="/assets/img/cards.png" alt="">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>Shop</h2>
          <ul>
            <li><a href="" class="">BestSellers</a></li>
            <li><a href="">Arabic books</a></li>
            <li><a href="">French books</a></li>
            <li><a href="">English books</a></li>
          </ul>
          <ul>
            <li><a href="">My account</a></li>
            <li><a href="">My wishlist</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget contact-widget">
          <h2>Contact</h2>
          <div class="con-info">
            <p>Kitabi </p>
          </div>
          <div class="con-info">
            <p>24537 Marrakech Morocco </p>
          </div>
          <div class="con-info">
            <p>+2126753989273</p>
          </div>
          <div class="con-info">
            <p>kitabi@conatct.com</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <img src="/assets/img/Kitabi2.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="social-links-warp">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
        <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
        <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
        <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div>

      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <p class="text-white text-center mt-5">Copyright &copy; {{date}} All rights reserved to AKHADAM Ayoub</p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </div>
  </div>
</section>
<!-- Footer section end -->
