<div class="row">
  <div class="col-md-6 mx-auto my-5 ">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h2 class="text-center text-primary mb-5">Login </h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email"
               [class.is-invalid]="email.invalid && email.touched "
               [class.is-valid]="email.valid">
        <div *ngIf="email.invalid && email.touched">
          <small class="text-danger" *ngIf="email.getError('required')">E-mail is required</small>
          <small class="text-danger" *ngIf="email.getError('email')">Enter a valid email</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password"
               [class.is-invalid]="password.invalid && password.touched"
               [class.is-valid]="password.valid">
        <div *ngIf="password.invalid && password.touched">
          <small class="text-danger" *ngIf="password.getError('required')">Password is required</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary  btn-block" [disabled]="!loginForm.valid">Login</button>

    </form>
  </div>
</div>




