<div class="row mt-4">
  <div class="col-md-3 col-sm-12 col-sm-auto m-md-auto" *ngFor="let book of books">
    <!-- Card -->
    <mdb-card style="max-width: 300px ; min-height: 575px" class="mt-3">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src='{{ "assets/img/books/" + book.image  }}' alt="Card image cap" style="max-height: 392.3px"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>{{book.title}}</h4>
        </mdb-card-title>

      </mdb-card-body>
      <mdb-card-footer class="bg-white">
        <span class=" text-dark font-weight-bold">{{book.price}} DH</span>
        <a href="#" class="btn btn-success float-right" mdbWavesEffect>
          <div class="shopping-card">
            <i class="flaticon-bag"></i>
          </div>
        </a>
        <a href="" class="btn btn-primary float-right mr-2">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
      </mdb-card-footer>
    </mdb-card>
    <!-- Card -->
  </div>

</div>





