<div class="login-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center text-danger">Register</h2>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstName">First name</label>
          <input type="firstName" class="form-control" id="firstName" formControlName="firstName"
                 [class.is-invalid]="firstName.valid || firstName.touched"
          >
          <div *ngIf="firstName.invalid && firstName.touched">
            <small class="text-danger" *ngIf="firstName.getError('required')">First name is required</small>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastName">Last name</label>
          <input type="lastName" class="form-control" id="lastName" formControlName="lastName"
                 [class.is-invalid]="lastName.valid || lastName.touched"
          >
          <div *ngIf="lastName.invalid && lastName.touched">
            <small class="text-danger" *ngIf="lastName.getError('required')">Last name is required</small>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="registerEmail">Email</label>
      <input type="email" class="form-control" id="registerEmail" formControlName="email"
             [class.is-invalid]="registerEmail.invalid && registerEmail.touched "
             [class.is-valid]="registerEmail.valid">
      <div *ngIf="registerEmail.invalid && registerEmail.touched">
        <small class="text-danger" *ngIf="registerEmail.getError('required')">E-mail is required</small>
        <small class="text-danger" *ngIf="registerEmail.getError('email')">Enter a valid email</small>
      </div>
    </div>

    <div class="form-group">
      <label for="registerPassword">Password</label>
      <input type="password" class="form-control" id="registerPassword" formControlName="password"
             [class.is-invalid]="registerPassword.invalid && registerPassword.touched"
             [class.is-valid]="registerPassword.valid">
      <div *ngIf="registerPassword.invalid && registerPassword.touched">
        <small class="text-danger" *ngIf="registerPassword.getError('required')">Password is required</small>
      </div>
    </div>

    <button type="submit" class="btn btn-danger  btn-block" [disabled]="!registerForm.valid">Register</button>

  </form>
</div>

